<div class="container h-100">
<div>
  <h3><b>Sorteio de Habitação</b> </h3>
</div>
<div>
    <h1><b>Lista dos Participantes do Sorteio</b> </h1>
  </div>
  <br>
  <br>
  <div class="col-md-6">
    <p><b>Total de participantes: {{totalParticipantes}}</b></p>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="realizarSorteio()">REALIZAR SORTEIO</button>
  </div>
  <br>
  <br>
  <mat-tab-group>

    <mat-tab label="IDOSOS">
    
        <table mat-table #table [dataSource]="idosos" class="mat-elevation-z8">
          
          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <th mat-cell *matCellDef="let idoso"> {{idoso.cpfComMascara}} </th>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <th mat-cell *matCellDef="let idoso"> {{idoso.nome}} </th>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
    </mat-tab>
    
    <mat-tab label="DEFICIENTE FÍSICO">
    
      <table mat-table #table [dataSource]="deficientesFisico" class="mat-elevation-z8">
        
        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <th mat-cell *matCellDef="let deficiente"> {{deficiente.cpfComMascara}} </th>
        </ng-container>
     
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <th mat-cell *matCellDef="let deficiente"> {{deficiente.nome}} </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
    </mat-tab>
    
    <mat-tab label="GERAL">
    
      <table mat-table #table [dataSource]="gerais" class="mat-elevation-z8">

        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <th mat-cell *matCellDef="let geral"> {{geral.cpfComMascara}} </th>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <th mat-cell *matCellDef="let geral"> {{geral.nome}} </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
    </mat-tab>
    
    </mat-tab-group>
  </div>